*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #888;
  font-size: 16px;
}

a{
	color: #888;
}

a:hover{
	text-decoration: none;
	color: #fff;
}

#banner-home {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#banner-home .content{
	position: absolute;
	transform: translate(-50px, -50px);
	top: 45%;
	left: 15%;
}
#banner-home .content strong{
	color: #09c;
}
#banner-home .content small, #banner-home .content h1{
	color: #eee;
}
#banner-home .content small{
	font-size: 18px;
	text-shadow: -2px 2px 3px #000;
}
#banner-home .content h1{
	font-size: 50px;
	text-shadow: -2px 2px 3px #000;
} 

.item-faixa{
	display: flex; 
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 30px;
}

nav.navbar{
	background-color: #222;
}

nav .navbar-brand{
	margin-right: 80px;
	font-size: 16px !important;
}

.search-bar button{
	color: #fff;
	border-color: #fff;
}
.search-bar button:hover, .search-bar button:active, .search-bar button:focus {
	background: #09c !important;
	border-color: #09c !important; 
}
.search-bar button:focus{
	box-shadow: 0 0 0 0.2rem #ccc !important;
}

.navbar-nav .nav-link{
	color: #eee !important;
}

#faixas-promo{
	background-color: #222;
	padding: 15px;
}

#faixas-promo .faixa{
	position: relative;
	background-color: #111;
	border-radius: 4px;
}	

@media (min-width: 900px){
	.item-faixa:before{
		content: '';
	    position: absolute;
	    height: 55px;
	    border: 1px solid #555;
	    left: -5px;
	    top: 15px;
	}

	.item-faixa:nth-child(1):before{
		display: none;
	}
}

.item-faixa div:nth-child(1){
	padding: 15px;
}


.item-faixa h2{
	display: block;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	color: #09c;
}

.item-faixa span{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.item-faixa i{
	font-size: 38px;
	color: #fff;
}

ul.navbar-nav.right-side {
    margin-left: auto;
    margin-right: 50px;
}

.game-list{
	background-color: #111;
	padding-top: 30px;
}

.game-list > div {
    border-top: 4px dotted #777;
}

.game-list .header-block{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.game-list .header-block h3{
	color: #fff;
	margin-bottom: 0;
}

.game-list  .header-block button{
	background: #09c;
	color: #eee;
}
.game-list  .header-block button:hover{
	color: #fff;
}
.game-list  .content-block {
	padding: 50px 0;
	display: flex;
}

.game-list  .content-block .item-game{
	width: 20%;
	padding:10px;
}

@media (max-width: 768px){
	.game-list  .content-block{
		flex-wrap: wrap
	}
	.game-list  .content-block .item-game{
		width: 50%;
		margin-bottom: 50px;
	}
}

.game-list  .content-block .item-game img{
	width: 100%;
	overflow: hidden;
}

.game-list  .content-block h4{
	color: #eee;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 35px;
}
.game-list .content-block button{
	width:90%;
	display: block;
	margin: 0 auto;
	background-color: #c33;
	position: relative;
	transition: 0.3s;
}
.game-list .content-block button:hover {
	background-color: #c44;
	opacity: 0.9;
	width: 98%;
}
.game-list .content-block button a{
	color: #fff;
}

.game-list .content-block button:before{
	font: normal normal normal 18px/1 FontAwesome;
    content: "\f07a";
   	color: #eee;
   	padding-right: 10px;
}

.banner-content{
	background-color: #111;
	padding-bottom: 50px;
}

.banner-content .info{
	position: relative;
	min-height: 230px;		
	background: linear-gradient(360deg, #670907 0%, #e50202 100%);
	border-radius: 4px
}	
.banner-content .info span, .banner-content .info button {
	position: absolute;
}
.banner-content .info span{
	left: 15px;
	bottom:40px;
	color: #ccc;
	font-size: 18px;
}
.banner-content .info button {
	right: 10px;
	bottom: 5px;
	background-color: #09c;
}
.banner-content .info button a{
	color: #ccc;
	text-transform: uppercase;
}

.filtros{
	width: 90%;
}
.catalogo{
	flex-wrap: wrap;
}
.catalogo .item-game{
	margin-bottom: 20px;
}

.catalogo .item-game h5{
	color: #ccc;
	padding: 4px 0;
}


#footer{
	background-color: #000;
}
#footer .line-div{
	border-bottom: 1px solid #999;
	margin-bottom: 30px;
}
#footer ul{
	list-style-type: none;
}
#footer ul li {
	float: left;
	margin: 15px 15px;
	font-size: 13px;
}
#footer ul li:first-child{
	margin-left: 0;
	padding-left: 0;
}

@media (max-width: 800px){
	ul.left-list {
	    display: flex;
	    flex-direction: column;
	}
	#footer ul.left-list li:first-child{
		padding-left: 15px;
	}
}

#footer .left-list li{
	margin: 0;
	padding: 16px;
}
#footer .left-list li a{
	padding: 12px;
	border-bottom: 5px solid transparent;
}
#footer .left-list li a:hover{
	border-color: #09c;
}
#footer ul#social-media li{
	background-color: #263241;
	padding: 8px 15px;
	border-radius: 2px;
	transition: 0.3s;
}
#footer ul#social-media li:hover{
	opacity: .8;
}
#footer ul#social-media li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
#footer ul#social-media li i{
	padding: 2px 10px 2px 0;
	font-size: 14px;
}
#footer h5{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

i.fa-whatsapp{
	color: #4ab647;
}
i.fa-facebook{
	color: #5b79a8;
}
i.fa-twitter{
	color: #63b3ff
}
i.fa-youtube-play{
	color: #ee2b3b
}
i.fa-instagram{
	color: #d63372;
}
i.fa-twitch{
	color: #6441a5; 
}
i.fa-linkedin{
	color: #0073b1;
}
i.fa-commenting-o{
	color: #6c8ada;
}

.navbar-expand-md .navbar-nav li {
	position: relative;
}

li.nav-item a:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #09c;
    position: absolute;
    top: -8px;
    left: 0;
    display: none;
}

li.nav-item a:hover:before{
	display: block;
}

@media (max-width: 1050px){
	ul#social-media li {
	    width: 100%;
	    margin: 10px 0;
	    text-align: center;
	}
}

.last p{
	font-size: 12px;
}
.last img{
	display: block;
	margin: 0 auto;
	max-width: 120px;
}

/*Formulário*/

.content-section{
	min-height: 61vh;
	margin-top: 56px;
	padding: 25px 0;
	background: #111
}
.header-content h1{
	color: #eee;
	padding-bottom: 20px;
}
form#formulario{
	margin-bottom: 65px;
}
#formulario .row{
	margin-bottom: 15px;
}
#formulario input, select{
	padding-left: 33px;
	background: #232323 !important;
	border: 1px solid #232323 !important;
	color: #eee !important;
}
#formulario i:nth-child(1){
	position: absolute;
		bottom: 0;
	left: 25px;
	transform: translateY(-65%);
}
#formulario #cod-info {
    position: absolute;
    right: 65px;
    cursor: pointer;
}
#formulario label.titulo {
    position: absolute;
    transform: translate(35px, 0);
    top: 25%;
    margin: 0;
    color: #eee
}
#formulario input:focus, #formulario select:focus {
	border-color: #000 !important;
	box-shadow: none;
}

#formulario i.fa{
	color: #09c;
}

#formulario input:focus + label.titulo, #formulario input:not(:placeholder-shown) + label{
	transition: 0.35s;
	top: -30%;
    left: 0;
    color: #fff;
    background: transparent;
    font-size: 14px;
}
button#enviar{
	background: #000;
	color: #ffffff;
	position: relative;
	width: 200px;
	box-sizing: border-box;
	transform-style: preserve-3d;
	transition: all 300ms linear;
}
button#LimparFiltro{
	background-color: #f22;
	color: #ffff;
}
button#LimparFiltro:hover{
	opacity: 0.9;
	background-color: firebrick;
}

button#enviar:after{
	position: absolute;
	left: 0;
	top: -110%;
	padding: .375rem .75rem;
	content: 'Enviar!';
	width: 100%;
	box-sizing: border-box;
	height: auto;
	border: 1px solid transparent;
	background: #09c;
	border-radius: .25rem;
	transform: rotateX(90deg);
	transform-origin: left bottom;
}
button#enviar:hover{
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
button#enviar2{
	background: #000;
	color: #ffffff;
	position: relative;
	width: 200px;
	box-sizing: border-box;
	transform-style: preserve-3d;
	transition: all 300ms linear;
}
button#enviar2:after{
	position: absolute;
	left: 0;
	top: -110%;
	padding: .375rem .75rem;
	content: 'Cadastrar!';
	width: 100%;
	box-sizing: border-box;
	height: auto;
	border: 1px solid transparent;
	background: #09c;
	border-radius: .25rem;
	transform: rotateX(90deg);
	transform-origin: left bottom;
}
button#enviar2:hover{
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
button#enviar3{
	background: #000;
	color: #ffffff;
	position: relative;
	width: 200px;
	box-sizing: border-box;
	transform-style: preserve-3d;
	transition: all 300ms linear;
}
button#enviar3:after{
	position: absolute;
	left: 0;
	top: -110%;
	padding: .375rem .75rem;
	content: 'Entrar!';
	width: 100%;
	box-sizing: border-box;
	height: auto;
	border: 1px solid transparent;
	background: #09c;
	border-radius: .25rem;
	transform: rotateX(90deg);
	transform-origin: left bottom;
}
button#enviar3:hover{
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
.botao{
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

#register-form{
	padding: 0 0 50px 0;
}


.devs{
	text-align: center;
	background: #222;
	width: 315px;
	margin: 0 auto;
	padding: 25px 0;
	border-radius: 4px;
	transition: 0.5s;
	margin-bottom: 20px;
}

.devs h2{
	padding-top: 20px;
	color: #ccc;
}

.devs:hover{
	background: #000;
}
.devs .social-links{
	display: block;
	margin: 0 auto;
	width: 65%;
	padding-top:30px;
}

.devs .social-links ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.devs .social-links ul li i.fa{
	font-size: 24px;
	width: 45px;
	height: 45px;
	background: #111;
	padding: 10px;
	border-radius: 50%;
	transition: 0.4s;
}
.devs .social-links ul li i.fa:hover{
	background: #000;
}

.frame-dev{
	width: 240px;
	height: 240px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden
}

#page-content, .products{
	background: #111;
}

@media (max-width: 768px){
	.search-bar, ul.navbar-nav.right-side{
		display: none;
	}
	.navbar-nav.mr-auto{
		text-align: center
	}
}
.carrinho{
	padding: 10px;
	margin: 10px;
	border-radius : 10px;
	background-color: #222;

}
.carrinho button{

	background-color: #c33;
	width: 100%; 
	color : #FFFFFF;

}

#detalhes {

	/*background-color: white;*/
	height: 40vh;

}

#cart-produtos ul{
	list-style-type: none;
	 display: flex; 
	 flex-wrap: wrap; 
	 align-items: center; 
	 justify-content: space-between;
}

#cart-produtos img{
	width: 150px; 
	height: 110px;
}

/*Página do produto*/

.product h1{
	color: #eee;
	font-size: 28px;
}

.product .description{
	background: #222;
	border-radius: 4px;
	padding: 20px;
	color: #eee;
}
.product .description h2{
	padding-bottom: 20px;
}
.product .description p{
	margin-bottom: 1px !important;
	padding-bottom: 0 !important;
}

ul.rating{
	list-style-type: none;
}
ul.rating li{
	float: left;
	margin-right:4px;
	color: yellow;
}

#buy-button{
	background-color: firebrick;
	width: 100%;
	transition: 0.4s;
}
#buy-button a{
	color: #fff;
	text-transform: uppercase;
}
#buy-button i{
	margin-right: 12px;
	color: #fff;
	font-size: 18px;
}
#buy-button:hover{
	background-color: green;
}
.product .about-game{
	color: #eee;
}
.product .about-game p {
	text-align: justify;
}